{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
    <h1>Mes Artistes Favoris</h1>
    <ul>
        {% for artist in artists %}
            <li>
                <a href="{{ path('artist_show', { 'id': artist.id }) }}">{{ artist.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}