{% extends 'base.html.twig' %}

{% block title %}Recherche d'artistes{% endblock %}

{% block body %}

{% if favorites is not empty %}
    <div class="favorites-grid">
        {% for favorite in favorites %}
            <div class="favorite-item">
                <a class="favorites-link" href="{{ path('artist_show', { 'id': favorite.getArtistId() }) }}">
                    <p>{{ favorite.getName() }}</p>
                    <img class="favorites_img" src="{{ favorite.getImage() }}" alt="{{ favorite.getName() }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Aucun artiste favori trouvé.</p>
{% endif %}

{% endblock %}